@page
@model Blog.GiamKichSan.Pages.Posts.UpdateModel
<div class="container">
    <h2>@ViewData["Title"] - Bài viết</h2>
    <div class="panel-group">
        <form class="panel panel-default" enctype="multipart/form-data" method="post">
            <div class="panel-body">
                <div class="form-group">
                    <label for="IDCategory">
                        Danh mục:<span class="text-danger">*</span>
                    </label>
                    <select name="IDCategory" class="form-control" required>
                        <option value="0">-- Chọn --</option>
                        @foreach (var item in Model.categoriesEntity)
                        {
                            if (item.ID != Model.postModel.IDCategory)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                            else
                            {
                                <option selected value="@item.ID">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="IDTag">
                        Tag:<span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" name="IDTag" required value="@Model.postModel.IDTag">
                </div>
                <div class="form-group">
                    <label for="IDTag">
                        Tiêu đề:<span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" name="Title" required value="@Model.postModel.Title">
                </div>
                <div class="form-group">
                    <label for="IDTag">
                        Tóm tắt:<span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" name="Description" required value="@Model.postModel.Description">
                </div>
                <div class="form-group">
                    <label for="name">
                        Nội dung:<span class="text-danger">*</span>
                    </label>
                    <div class="toolbar-container"></div>
                    <div id="PostDetailName">
                        <p><i>Nhập nội dung ở đây</i></p>
                        @foreach (var postDetail in Model.postModel.PostDetails)
                        {
                            @Html.Raw(System.Net.WebUtility.HtmlDecode(postDetail.Description))
                        }
                    </div>
                    <input type="hidden" name="PostDetailsDescription" />
                </div>
            </div>
            <div class="panel-footer">
                <input type="hidden" class="form-control" name="ID" value="@Model.postModel.ID">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script src="~/controller/postUpdate.js"></script>
}